Debug/RangoShooter.exe
Debug/RangoShooter.ilk
Debug/RangoShooter.pdb
Debug/assimp_log.txt
Debug/dati/models
RangoShooter/Debug/
RangoShooter/RangoShooter.user
Rangoshooter.opensdf
Rangoshooter.sdf
Rangoshooter.v11.suo